<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/favicon.ico">
    <title>About</title>
</head>
<body>
    {{>header}}
    <div class="row">
    <div class="col-md-4">
    <img src="/img/shubham.jpg" style="height:250px;width:200px;" alt="">
    </div>
    <div class="col-md-8">
        <p class="h1">{{name}}</p><br>
        <p class="h1">{{desc}}</p><br>
        <a href="https://www.linkedin.com/in/shubham-bhardwaj-94a571192/">Linkedin</a>
        <a href="https://github.com/XshubhamX">Github</a>
        <a href="https://www.instagram.com/_shubham.x/?hl=en">Instagram</a>

    </div>
    </div>
    </div></div>
    {{>footer}}
</body>
</html>